.blog-detail {
    width: 100%;
    max-width: 800px;
    margin: 25px auto;
    color: #333;
    padding: 0 16px;
}

.image-detail {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.blog-detail strong {
    display: block;
    margin-bottom: 25px;
    font-size: 1.25rem; /* 20px */
}

.blog-detail p {
    margin-top: 25px;
    font-size: 1.125rem; /* 18px */
}
