.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px 30px;
    flex-wrap: wrap;
    position: relative;
}

.logo-header {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease;
}

.logo-header:hover {
    transform: scale(1.05);
    color: orange;
}

.hamburger {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

.link {
    display: flex;
    gap: 12px;
}

.link a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease;
}

.link a:hover {
    color: orange;
}

/* Responsive */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .link {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #444;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 10px 30px;
    }

    .link.open {
        display: flex;
    }

    .link a {
        padding: 10px 0;
        font-size: 16px;
    }
}
