nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 30px;
}

.logo-header {
    display: flex;
    margin-right: auto;
    padding-left: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    gap: 10px;
}

.logo-header img {
    max-width: 80px;
    height: auto;
    display: block;
    border-radius: 8px;
}

.link a {
    color: #fff;
    text-decoration: none;
    margin-left: 12px;
    font-size: 18px;
    padding: 10px;
}

.link a:hover {
    color: orange;
}